<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/home.css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
        <a class="navbar-brand" href="@Url.Action("Login", "Admin")">
            <img src="~/images/raythos-aerospace-logo.png" alt="Raythos Aerospace Logo" class="img-fluid logo-img" />
            <span class="ml-1">Raythos Aerospace</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Login", "Admin")">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer bg-dark py-2">
        <div class="container text-center pt-2">
            <p class="footer-paragraph">&copy; 2023 - Raythos Aerospace</p>
            <p class="footer-paragraph">Redefining the future of aviation</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>

</html>