@{
    Layout = "_Layout";
    ViewData["Title"] = "Raythos Aerospace - Dashboard";
}

<div class="container mt-4">
    <h2 class="display-4">Welcome Back!</h2>
    <p class="lead">Explore the future of aviation with Raythos Aerospace. Your journey begins here.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card dashboard-custom-card">
                <img src="~/images/aircraft-catalog.png" class="card-img-top dashboard-custom-card-img" alt="Aircraft Catalog Image">
                <div class="card-body">
                    <h5 class="card-title">Aircraft Catalog</h5>
                    <p class="card-text">Browse our catalog of available aircraft models.</p>
                    <a href="#" class="btn btn-primary dashboard-button">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card dashboard-custom-card">
                <img src="~/images/order-history.png" class="card-img-top dashboard-custom-card-img" alt="Order History Image">
                <div class="card-body">
                    <h5 class="card-title">Order History</h5>
                    <p class="card-text">View your order history and track your purchases.</p>
                    <a href="#" class="btn btn-primary dashboard-button">View History</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card dashboard-custom-card">
                <img src="~/images/profile.png" class="card-img-top dashboard-custom-card-img" alt="Profile Image">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">View and manage your profile.</p>
                    <a href="#" class="btn btn-primary dashboard-button dashboard-button-manage-profile">Manage Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
