@model RaythosAerospace.Models.Repositories.UserRepository.UserModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Raythos Aerospace - Profile";
}

<section>
    <div class="container mt-4 text-center">
        <h2 class="display-4 mb-4">Profile Details</h2>

        <div class="row mt-4">
            <div class="col-md-12 mb-4">
                <div class="card customer-card">
                    <form asp-action="ProfileUpdate" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="row justify-content-center mt-4">
                            <div class="form-group col-10">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-10">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-10">
                                <label asp-for="DOB" class="control-label"></label>
                                <input asp-for="DOB" class="form-control" />
                                <span asp-validation-for="DOB" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-10">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row m-4">
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                            <div class="form-group col-md-6">
                                <a href="/admin/DeletUser?userId=@Model.UserId" class="btn btn-primary">Delete Account</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>






