@model RaythosAerospace.Models.Repositories.AirCraftRepository.AirCraftModel

<div>
    
    <a asp-controller="aircraft" asp-action="create" 
       class="btn-dark"
       >Edit</a> |
    <a asp-controller="aircraft" asp-action="Index">Back to List</a>
</div>
