@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Customer Management";

}

@using System.ComponentModel.DataAnnotations
@using System.Reflection

@model UserDTO

<section>
    <div class="container mt-4 text-center">
        <h2 class="display-4 mb-4">Customer Management</h2>

        <div class="row mt-4">


            <div class="col-md-12 mb-4">
                <div class="card customer-card">


                    @foreach (UserModel currentuser in Model.Users)
                    {

                    <div class="card-body">
                        <h5 class="card-title">Customer @currentuser.Name</h5>
                        <p class="card-text"><strong>Email : </strong>@currentuser.Email </p>
                        <a href="/admin/ViewCustomer?userId=@currentuser.UserId" class="btn btn-dark">Go to Account</a>
                    </div>
                    }

                  </div>
            </div>


        </div>
    </div>
</section>


