@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Raythos Aerospace - Inventory Management";
}

<section>
    <div class="inventory-management-container text-center">
        <!-- Hero Banner -->
        <div class="inventory-management-hero-banner">
            <img src="~/images/inventory.jpg" alt="Inventory Image" class="img-fluid inventory-management-hero-img">
        </div>

        <!-- Buttons Section -->
        <div class="inventory-management-buttons-section mt-4">
            <h2 class="display-4 mb-4">Inventory Management</h2>
            <div class="row">
                <!-- Add Inventory Button -->
                <div class="col-lg-6 mb-4">
                    <div class="card inventory-management-card">
                        <div class="card-body">
                            <h5 class="card-title">Manage Seats</h5>
                            <p class="card-text">Click here to view and manage seat stocks</p>
                            <a href="@Url.Action("ManageSeats", "Admin")" class="btn btn-primary inventory-management-btn">Manage Seat Stocks</a>
                        </div>
                    </div>
                </div>

                <!-- Manage Inventory Button -->
                <div class="col-lg-6 mb-4">
                    <div class="card inventory-management-card">
                        <div class="card-body">
                            <h5 class="card-title">Manage Colors</h5>
                            <p class="card-text">Click here to view and manage colors stocks</p>
                            <a href="@Url.Action("ManageColors", "Admin")" class="btn btn-primary inventory-management-btn">Manage Colors Stocks</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 mb-4">
                    <div class="card inventory-management-card">
                        <div class="card-body">
                            <h5 class="card-title">Manage Engines</h5>
                            <p class="card-text">Click here to view and manage engine stocks</p>
                            <a href="@Url.Action("ManageEngines", "Admin")" class="btn btn-primary inventory-management-btn">Manage Engines Stocks</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
