@{ 
    Layout = "_Home";
    ViewData["Title"] = "Raythos Aerospace - Admin Registration";
}


@model AdminViewModel

<section class="container mt-4">
    <div class="login-container text-center">
        <h2 class="display-4 mb-4">Login</h2>
        <form class="login-form" asp-action="Login" method="post">
            <div class="form-group">
                <label for="loginEmail">Email</label>
                <input type="email" class="form-control custom-input login-form-input mx-auto" id="loginEmail" placeholder="Enter your email" asp-for="@Model.Email">
            </div>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control custom-input login-form-input mx-auto" id="loginPassword" placeholder="Enter your password" asp-for="@Model.Password">
            </div>
            <button type="submit" class="btn btn-primary login-form-button mx-auto">Login</button>
            <div asp-validation-summary="None" class="text-danger"></div>

        </form>
    </div>
</section>
