.shakeElement{

    animation: shake 0.8s ease-in-out;
    border-radius:5px;
    border:none;
}
.checkout-element-card {

    border: none;
    border-radius: 5px;
    padding:10px 20px 5px 20px;
}

.space-element{

    height:100px;
}

.customization-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #F5F7F8;
    padding: 4px;
    border: none;
    border-radius: 5px;
}

.total-price-container {
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    text-align: center;
}

@keyframes shake {
    0% {
        transform: translate(0);
        background-color: #ff0000ff;
    }
    25% {
        transform: translate(10px);
        background-color: #ff000090;
    }
    50% {
        transform: translate(-10px);
        background-color: #ff000030;
    }
    75% {
        transform: translate(10px);
        background-color: #ff000020;
    }
    100% {
        transform: translate(0);
        background-color: #ff000000;
    }
}

@keyframes changeColorWhenRemove{


    0% {
        background-color:#ff0000ff;
    }

    25% {
        background-color: #ff000090;
    }

    50% {
        background-color: #ff000030;
    }

    75% {
        background-color: #ff000020;
    }

    100% {
        background-color: #ff000000;
    }
}