/* Common */
body {
    background-color: #E8E6E8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo-img {
    max-height: 30px;
}

.hero-img {
    height: 450px;
    width: 100%;
    margin: 0 auto;
}

.description-container {
    max-width: 1200px;
    margin: 0 auto;
}

.description-container-paragraph {
    margin-bottom: 20px;
}

.cta-section {
    border-top: 2px solid #dee2e6;
}

.cta-btn {
    margin-top: 5px;
    width: 200px;
    padding: 15px 40px;
}

.footer {
    color: #f8f9fa;
    flex-shrink: 0;
}

.footer-paragraph {
    margin-bottom: 5px;
}

/* Registration */
.registration-container {
    max-width: 1200px;
    margin: 0 auto;
}

.registration-form {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 30px;
}

.registration-form-input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-form-button {
    width: 20%;
    padding: 10px;
}

.already-have-account {
    margin-bottom: 10px;
}

    .already-have-account a:hover {
        text-decoration: none;
    }

.text-danger {
    color: #dc3545;
    margin-left: 1px;
}

/* Login */
.login-container {
    max-width: 600px;
    margin: 0 auto;
}

.login-form {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-form-input {
    width: 75%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form-button {
    margin-top: 10px;
    width: 30%;
    padding: 10px;
}

.do-not-have-account {
    margin-bottom: 10px;
}

    .do-not-have-account a:hover {
        text-decoration: none;
    }
